*{
    margin: 0;
    /* padding: 0; */
    text-decoration: none;
    box-sizing: border-box;
}
.p-primary{
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.heading-primary{
    color: #131318;
    font-family: 'Mulish', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.btn-primary{
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    padding: 12px 20px;
    border-style: none;
}

.heading-secondary{
    color: #131318;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.navber{
     /* border: 2px solid rebeccapurple; */
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    /* height: 50px; */
    align-items: center;
    max-width: 1170px;
    padding-top: 30px;
    padding-bottom: 50px;
}
.logo{
    /* border: 2px solid rebeccapurple; */
    width: 50%;
    display: flex;
}
.logo img{
    height: 50px;
}
.logo h3{
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-family: 'mulish' , sans-serif;
    padding-left: 10px;
}
span{
    color: #1C75BB;
}
.nav-item .color{
    color: #1C75BB;
    font-weight: 900;
}
.nav-item{
    /* border: 2px solid rebeccapurple; */
}
.nav-item ul{
    display: flex;
    gap: 30px;
}
.nav-item li{
    list-style: none;
    width: 50%;
}
.nav-item ul li a{
    color: #424247;
    text-align: center;
    font-family: 'Mulish' ,sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.fa-bars{
    display: none;
}
/* responsive */
@media screen and (max-width:600px) {
    .fa-bars{
        display: block;

    }
    .nav-item ul{
        display: block;
    }
    .nav-item{
        position: absolute;
        padding-top: 300px;
        display: none;
    }
    .nav-item ul li a{
        display: block;
        margin-bottom: 20px;
    }
}

/* Banner Section */
.banner{
    max-width: 1170px;
    margin: 0 auto; 
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../Images/Banner\ img.png);
    background-repeat: no-repeat;
    border-radius: 16px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.banner h1{
    font-size: 60px;
    font-family: 'Mulish', sans-serif;
    font-weight: 800;
    line-height: normal;
    text-align: center;
    color: #ffffff;
} 

.banner p{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    color: white;
    text-align: center;
    font-size: 18px;
}

.input{
    max-width: 750px;
    margin: 0 auto;
    background-color: #ffffff76;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 16px;
    border-radius: 8px;
}
.input input{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    padding-left: 16px;
    font-size: 16px;
}
.input select{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    padding-left: 16px;
    font-size: 16px;
}
.submit-btn{
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    padding: 16px 34px;
    border-style: none;
    color: white;
    font-size: 16px;
}
/* responsive */
@media screen and (max-width:600px) {
    .input{
        display: flex;
        flex-direction: column;        
    }
    
}
/* Main section, image+text styles*/
.text p li{
    color: rgba(19, 19, 24, 0.70);
    width: 50%;
    text-align: left;
}

.image-text{
    display: flex;
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 100px;
}
.side-image{
    /* border: 2px solid red; */
    padding-left: 95px;
}
.text{
    /* border: 2px solid black; */
    /* width: 80%; */
}
/* responsive */
@media screen and (max-width:600px) {
    .image-text{
        /* border: 2px solid red; */
        /* display: flex; */
        flex-direction: column;
        padding-top: 50px;
        padding-left: 20px;
        padding-right: 20px;
        justify-content: center;
        align-items: center;
    } 
    .side-image{
        padding: 0;
    }
    .side-image img{
        width: 350px;
        height: 400px;
        padding-top: 20px;
    }
}
.hide{
    display: none;
}